.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.connector-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.info-seperator {
  padding: 12px;
  background-color: lightgreen;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
